
{% extends 'searchdrink/base.html' %}

{% block content %}
                            <h1 class="mainheader mb-5">FindYourCocktail <i class="fas fa-cocktail mr-2"></i> </h1>

            <h3>Przygotuj drinka na podstawie produktów, które masz w domu!</h3>
            <p class="m-4">Nie wiesz, jakiego drinka możesz przygotować na podstawie produktów, które masz w domu? Albo być może chcesz spróbować czegoś nowego na podstawie swoich ulubionych składników? Pozwól, że pomożemy Ci wybrać!
                Wypełnij krótki test, gdzie zaznaczysz swoje ulubione składniki, a my pomożemy Ci wybrać najlepszą propozycję. Z pewnością znajdziesz coś dla siebie!</p>
                <a href="/alcohol"><button type="button" class="btn btn-dark">Zacznij test</button></a>

<p class="m-3"> Możesz również skorzystać z naszej <a href="/searchbyname">wyszukiwarki</a> i znaleźć drink po nazwie!</p>

{% endblock %}
