
{% extends 'searchdrink/base.html' %}

{% block content %}
            <h3>Przygotuj drinka na podstawie produktów, które masz w domu!</h3>
            <p class="m-5">Nie wiesz, jakiego drinka możesz przygotować na podstawie produktów, które masz w domu? Albo być może chcesz spróbować czegoś nowego na podstawie swoich ulubionych składników? Pozwól, że pomożemy Ci wybrać!
                Wypełnij krótki test, gdzie zaznaczysz swoje ulubione składniki, a my pomożemy Ci wybrać 5 najlepszych propozycji. Z pewnością znajdziesz coś dla siebie!</p>
                <a href="/alcohol"><button type="button" class="btn btn-dark">Zacznij test</button></a>
{% endblock %}
